@charset "UTF-8";
/* Sistema de cards */
.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.card {
  background-color: #75d4e6;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: 40px;
  box-shadow: -2px 2px 5px gray;
  border: none;
}

.fila:after {
  content: "";
  display: table;
  clear: both;
}

/* Sistema de cards */
/* Animations */
@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(90, 153, 212, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}
.grow:hover {
  transform: scale(1.1);
}

.pulse-button {
  cursor: pointer;
  animation: pulse 4s infinite;
}
.pulse-button:hover {
  animation: none;
}

/* Animations */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-image: url(../images/FondoBody.webp);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  min-height: 80vh;
  margin: 8px;
  padding: 10px;
}

.contacto-container {
  width: 100%;
}

/* Header */
header {
  height: 100px;
  background-image: url(../images/FondoHeader.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Header */
/* Standard link */
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:hover {
  color: black;
}

a {
  color: black;
}
a:link, a:visited, a:hover, a:active {
  color: black;
}

/* Standard link */
/* Nav*/
.topnav {
  overflow: hidden;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.topnav section {
  min-width: fit-content;
  width: 10%;
  display: flex;
  align-items: center;
}
.topnav section a {
  width: 100%;
}
.topnav section div {
  display: flex;
}
.topnav section div a {
  display: block;
}
.topnav a {
  height: auto;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:visited {
  color: #f2f2f2;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: rosybrown;
}
.topnav .menu {
  min-width: fit-content;
  width: 40%;
}
.topnav .menu a {
  min-width: fit-content;
  width: 25%;
}
.topnav .menu div {
  min-width: fit-content;
  width: 75%;
}
.topnav .menu div a {
  min-width: fit-content;
  width: 33.3333333333%;
}

.contacto {
  margin-left: auto;
}

/* Nav*/
/* Card utilizado por */
.listaU {
  list-style-type: none;
  background-color: #0096c7;
  max-width: 175px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
}

/* Card utilizado por */
/* Logos */
.title {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: #e5e5e5;
  max-width: fit-content;
  border-radius: 20px;
  margin-top: 50px;
}
.title h2 {
  text-decoration: none;
  margin-bottom: 0;
}

.caja {
  display: flex;
  align-items: center;
  justify-content: center;
}

img.logo {
  height: 100px;
  width: 100px;
  display: block;
  margin: 0 auto;
}

/* Logos */
/* Card de informacion */
.boton {
  background-color: #0096c7;
  max-width: 175px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
}

.l {
  display: block;
  text-decoration: none;
  border-radius: 5px;
}
.l:hover {
  background-color: #ddd;
  box-shadow: 0 1px 5px gray;
}

.infoContainer {
  border: 1px solid black;
  width: fit-content;
  margin: auto;
  padding: 10px;
  margin-bottom: 15px;
}

/* Card de informacion */
/* Form */
.form {
  height: 440px;
  background: #e6e6e6;
  box-shadow: -2px 2px 5px gray;
  padding: 20px 30px;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
}
.form h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  color: #78788c;
  border-bottom: 3px solid #78788c;
  word-wrap: break-word;
}
.form input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}
.form input:focus {
  border-bottom: 2px solid #78788c;
}
.form p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}
.form button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
.form button:hover {
  background: #78788c;
  color: #fff;
}
.form span {
  margin: 0 5px 0 15px;
}

/* Form */
/* Botones para volver arriba y al inicio */
.botonFinContainer {
  display: none; /* Estos botones solo aparecen cuando el tamaño de la pantalla es menor a 800px */
  margin-top: 50px;
  background-color: #75d4e6;
  border-radius: 5px;
  height: 60px;
  border: 6px outset #75d4e6;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.botonFinContainer:hover {
  background-color: #e6e6e6;
  border: 6px outset #e6e6e6;
}

.botonFin {
  display: block;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.botonFin:visited {
  color: black;
}

/* Botones para volver arriba y al inicio */
/* Botones para elegir del Index */
.galeriaIndex {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.galeriaIndex img {
  height: 200px;
  width: 200px;
  display: block;
  margin: 0 auto;
}

.pick {
  background-color: lightgray;
}
.pick:hover {
  background-color: #bebed2;
}

.elegir-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.elegir {
  width: 60%;
}

.botones-container {
  width: 100%;
}

.texto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.index-texto {
  width: 30%;
}

/* Botones para elegir del Index */
/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: lightskyblue;
  height: fit-content;
  flex-wrap: wrap;
  padding: 15px;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}
footer p {
  margin-left: 30px;
  margin: 0;
  padding: 10px 0;
}
footer ul {
  display: flex;
  margin: 0;
  list-style-type: none;
}

ul {
  list-style-type: none;
}

.iconfooter {
  height: 35px;
  width: 35px;
  margin: 0 15px;
}

/* Footer */
/* Propiedades especificas */
.wb {
  border-right: 1px solid white;
}

.bold {
  font-weight: bolder;
}

.centerLined {
  text-align: center;
  text-decoration: underline;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.nom {
  margin: 0;
}

.mb {
  margin-bottom: 30px;
}

.mc {
  margin: 20px 10px;
  width: 30%;
}

.cb {
  background-color: #caf0f8;
}

.ns {
  box-shadow: none;
}

.nbc {
  background-color: transparent;
}

ul {
  padding: 0;
}

.space {
  justify-content: space-evenly;
}

.listrow {
  flex-direction: column;
}

.fc {
  flex-direction: row;
}

.an {
  align-items: baseline;
}

.mt {
  margin-top: 20px;
}

.ai {
  align-items: stretch;
}

.jcc {
  justify-content: center;
}

.fuerte {
  font-weight: bolder;
}

/* Propiedades especificas */
/* Carousel */
.ImgVid {
  display: flex;
  justify-content: space-evenly;
}

.texto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.car {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}
.car div h2 {
  height: fit-content;
  margin-bottom: 10px;
}

.carousel {
  width: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: gray;
}

/* Carousel */
/* Vide e Img responsive*/
.video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.videoContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.img-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
.img-container img {
  position: absolute;
  top: 0;
  height: 100%;
  object-fit: cover;
}

/* Vide e Img responsive*/
/* Media Queries */
@media screen and (max-width: 1400px) {
  .galeria img {
    max-width: 100%;
    padding: 1rem;
  }
  .fc {
    flex-direction: column;
  }
  .ImgVid {
    flex-direction: column;
    align-items: center;
  }
  .car {
    width: 100%;
  }
}
@media screen and (max-width: 1050px) {
  .galeriaIndex {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .index-texto {
    width: 90%;
  }
  .texto-container {
    flex-direction: column;
  }
  .fdc {
    flex-direction: column;
  }
  .botonFinContainer {
    display: block;
  }
  .leftcolumn {
    width: 100%;
    padding: 0;
  }
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
  .mc {
    width: 80%;
  }
  .ai {
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .elegir {
    width: 80%;
  }
  .topnav {
    flex-direction: column;
    align-items: center;
  }
  .topnav section {
    min-width: 100%;
  }
  .topnav section div {
    width: 100%;
  }
  .topnav a {
    display: block;
    width: 100%;
  }
  .topnav .menu {
    width: 100%;
    flex-direction: column;
  }
  .topnav .menu div {
    width: 100%;
    flex-direction: column;
  }
  .topnav .menu div a {
    width: 100%;
  }
  .topnav .menu a {
    width: 100%;
  }
  .contacto {
    margin-left: 0;
  }
  .wb {
    border: none;
  }
}
/* Media Queries */

/*# sourceMappingURL=styles.css.map */
